<div class="row">
<div class="col-sm-4">
  <ul>You are matched with:
    <% current_user.matches.each do |match| %>
      <% if current_user == match.requester %>
        <li><%= match.requested.username %></li>
      <% else %>
        <li><%= match.requester.username %></li>
      <% end %>
    <% end %>
  </ul>
</div>
</div>
