<div class="row">
<div class="col-sm-4">
  <ul>You are matched with:
    <% current_user.matches.each do |match| %>
      <% if current_user == match.first_accepter %>
        <li><%= match.secondary_accepter %></li>
      <% else %>
        <li><%= match.first_accepter.username %></li>
      <% end %>
    <% end %>
  </ul>
</div>
</div>
