<div class="row">

<% if current_user %>
  <h2><%= current_user.username.capitalize %>'s Dashboard</h2>
  <h3><%= link_to "Find Pairs", user_potential_pairs_path(user_id: current_user.id) %></h3>
<% else %>
  <h1 class="col-sm-8"><%= link_to "Login With GitHub", "/auth/github" %></h1>
<% end %>
</div>
