img{
  width:200px;
  height:auto;
}

.pairr {
  font-size:1.5em;
  color:tomato !important;
}

nav{
  color:orange !important;
}

body{
  color:tomato !important;
  text-align:center !important;
}

li{
  list-style:none !important;
}

.border{
  border: 1px solid tomato !important;
  padding:30px;
  margin-top:100px;
  a{
    color:tomato !important;
  }
}

#accept-form{
  float:right;
  width:300px;
}

#reject-form{
  float:left;
  width:300px;
}

.homepage{
  background: url(back.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
      -moz-background-size: cover;
        -o-background-size: cover;
          background-size: cover;
}
